
:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --ev-c-text-2: rgba(235, 235, 245, 0.6);
  --ev-c-text-3: rgba(235, 235, 245, 0.38);
}

/* 集合属性（主题样式） */
[data-theme="dark"] {
  --color-bg: #1f1f21;
  --color-btn: #ffffff;
  --color-btn-font: #333333;
  --color-border: #deddee;
  --color-main: #ffae00;
  --color-auxiliary: #00ff11;
  --color-other: #00ffdd;
  --font-color-main: #ffffff;
  --font-color-secondary: #ffffffb3;
  --font-color-auxiliary: #ffffff3b;
}

[data-theme="light"] {

}
