@font-face {
    font-family: "iconfont";
    src: url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
    content: "\e66e";
}

.icon-direction-down:before {
    content: "\e66f";
}

.icon-direction-right:before {
    content: "\e670";
}

.icon-direction-up:before {
    content: "\e671";
}

.icon-discount:before {
    content: "\e672";
}

.icon-download:before {
    content: "\e673";
}

.icon-elipsis:before {
    content: "\e674";
}

.icon-export:before {
    content: "\e675";
}

.icon-edit:before {
    content: "\e676";
}

.icon-email:before {
    content: "\e677";
}

.icon-error:before {
    content: "\e678";
}

.icon-file-add:before {
    content: "\e679";
}

.icon-file:before {
    content: "\e67a";
}

.icon-filter:before {
    content: "\e67b";
}

.icon-hide:before {
    content: "\e67c";
}

.icon-home:before {
    content: "\e67d";
}

.icon-history:before {
    content: "\e67e";
}

.icon-file-open:before {
    content: "\e67f";
}

.icon-link:before {
    content: "\e680";
}

.icon-lock:before {
    content: "\e681";
}

.icon-menu:before {
    content: "\e682";
}

.icon-loading:before {
    content: "\e683";
}

.icon-help:before {
    content: "\e684";
}

.icon-more:before {
    content: "\e685";
}

.icon-prompt:before {
    content: "\e686";
}

.icon-refresh:before {
    content: "\e687";
}

.icon-picture:before {
    content: "\e688";
}

.icon-pin:before {
    content: "\e689";
}

.icon-save:before {
    content: "\e68a";
}

.icon-search:before {
    content: "\e68b";
}

.icon-share:before {
    content: "\e68c";
}

.icon-scanning:before {
    content: "\e68d";
}

.icon-sign-out:before {
    content: "\e68e";
}

.icon-success:before {
    content: "\e68f";
}

.icon-setting:before {
    content: "\e690";
}

.icon-time:before {
    content: "\e691";
}

.icon-top:before {
    content: "\e692";
}

.icon-user:before {
    content: "\e693";
}

.icon-upload:before {
    content: "\e694";
}

.icon-warning:before {
    content: "\e695";
}

.icon-arrow-left-bold:before {
    content: "\e696";
}

.icon-arrow-up-bold:before {
    content: "\e697";
}

.icon-close-bold:before {
    content: "\e698";
}

.icon-arrow-down-bold:before {
    content: "\e699";
}

.icon-minus-bold:before {
    content: "\e69a";
}

.icon-arrow-right-bold:before {
    content: "\e69b";
}

.icon-select-bold:before {
    content: "\e69c";
}

.icon-add:before {
    content: "\e664";
}

.icon-add-circle:before {
    content: "\e665";
}

.icon-arrow-up-circle:before {
    content: "\e666";
}

.icon-arrow-right-circle:before {
    content: "\e667";
}

.icon-arrow-down:before {
    content: "\e668";
}

.icon-ashbin:before {
    content: "\e669";
}

.icon-arrow-right:before {
    content: "\e66a";
}

.icon-arrow-left-circle:before {
    content: "\e66b";
}

.icon-attachment:before {
    content: "\e66c";
}

.icon-code:before {
    content: "\e66d";
}

.icon-shouye:before {
    content: "\e67d";
}

.icon-xinzeng:before {
    content: "\e664";
}

.icon-liebiao:before {
    content: "\e67f";
}

.icon-shezhi:before {
    content: "\e690";
}

